<!--Aside Bar-->
<div class ="aside-bar">
        <header >
            <div class="sidebar-header">
                <div>
                    <p align="center">
                        <img alt="Image not found" src ="/assets/site_images/Phani Madhusudhan Official Image.jpg"  height="100" width="100" class="rounded img-fluid">
                    </p>
                </div>
                <br>
                <p class="text-justify text-center">I am machine Learning Enginner intrested in Artificial Intelligence and Data Science and Eager to learn anything</p>
                
            </div>
        </header>
        <footer>
            <div class="sidebar-footer" >
                
                <ul>
                    <li>
                        <a href="{{site.github_link}}">
                            GitHub
                        </a>
                    </li>
                    
                    <li>
                        <a href="{{site.github_link}}">
                            Linked In 
                        </a>
                    </li>
                    <li>
                        <a href="mailto:{{site.mail_id}}">
                            Mail
                        </a>
                    </li>
                </ul>
                <div class="copyright">
                    <p class="text-white">2018 © Madhusudhan</p>
                </div>
            </div>
        </footer>
    </div>