<!--Aside Bar-->
<div class ="container-fluid aside-bar">

    <!--Header-->
    <div class='row sidebar-header'>  
        <header>
                <p class="sidebar-image">
                    <a href="{{site.hompage}}">
                        <img class="sidebar-image" alt="Image not found" src ="/assets/site_images/Phani_Madhusudhan_Official_Image.JPG"  height="100" width="100" class="rounded img-fluid">
                    </a>
                </p>
                <br>
                <p class="text-justify text-center">I am machine Learning Enginner intrested in Artificial Intelligence and Data Science</p>
        </header>
    </div>
    
    <div class='row sidebar-footer'>
        <!--Footer-->
        <footer>      
            <ul style="list-style: none;">
                <li>
                    <a href="{{site.github_link}}">
                        <img class="icon"  src="/assets/site_images/icons/github-480.png"  alt="icon not found">
                        <p class="copyright text-white">Github</p>
                    </a>
                </li>
                
                <li>
                    <a href="{{site.github_link}}">
                        <img class="icon"  src="/assets/site_images/icons/linkedin-480.png"  alt="icon not found">
                        <p class="copyright text-white">Linkedin</p>
                    </a>
                </li>
                <li>
                    <a href="mailto:{{site.mail_id}}">
                        <img class="icon"  src="/assets/site_images/icons/mail-480.png"  alt="icon not found">
                        <p class="copyright text-white">Mail</p>
                    </a>
                </li>
            </ul>
        </footer>
    </div>

    <div class="row copyright-div">
        <img class="icon"  src="/assets/site_images/icons/copyright-100.png"  alt="icon not found">
        <p class="copyright text-white">2018 © Madhusudhan</p>
    </div>

</div>