<div class='row '>
    <div class=" fork-star-button-div">
        <a class="source-button" href="{{page.source}}"><button class="btn btn-primary">Source</button></a>
        <a class="notebook-button" href="{{page.notebook}}"><button class="btn btn-warning">Notebook</button></a>
        <a class="fork-button" href="{{page.fork_repo}}"><button class="btn btn-dark">Fork</button></a>
        <a class="star-button" href="{{page.star_repo}}"><button class="btn btn-dark">Star</button></a>
    </div>
</div>

      