
.sidebar-header {
	background-color: lightblue;
	border-radius: 25px;
	padding : 10px
}

.post{
	color: #ffffff;
	padding: 20px 10px;
	transition: all .3s ease-in-out;
	border-top-right-radius: 25px;
	border-top-left-radius: 25px;
	border-bottom-right-radius: 25px;
	border-bottom-left-radius: 25px;
	background: #212529;
}

.post:hover {
    transform: scale(1.025); 
}

.sidebar{
	background-color: #343a40 !important;
	margin : 0px;
	height: 100vh;
	z-index: 1;
}

.sidebar-image{
	border-radius: 50%;
	padding : 5px
}

.card{
	padding: 20px;
	margin: 20px;
}

.content-column{
	padding-top :50px;
}

.aside-bar{
	padding :10px;
}

pre {
    display: block;
    padding: 9.5px;
    margin: 0 0 10px;
    font-size: 15px;
    line-height: 1.42857143;
    color: #333;
    word-break: break-all;
    word-wrap: break-word;
    background-color: #f5f5f5;
    border: 1px solid #ccc;
    border-radius: 4px;
}