<!DOCTYPE html>
	<html>
		<head>
			<title>{{ page.title }}</title>
			<!-- link to main stylesheet -->
			<link rel="stylesheet" type="text/css" href="/css/main.css">
		</head>
		<body>
			<nav>
	    		<ul>
	        		<li><a href="/">Madhusudhan</a></li>
		        	<li><a href="/about">Contact</a></li>
	        		<li><a href="/cv">Github</a></li>
	        		<li><a href="/blog">Blog</a></li>
	    		</ul>
			</nav>
			<div class="container">
			
			{{ content }}
			
			</div><!-- /.container -->
			<footer>
	    		<ul>
	        		<li><a href="mailto:phani.madhusudhan@gmail.com">email</a></li>
	        		<li><a href="https://github.com/phanimadhusudhanthontepu">github.com/phanimadhusudhanthontepu</a></li>
				</ul>
			</footer>
		</body>
	</html>
