---
layout: default
---
<!--Including the syntax for the code-->
<link href="/assets/css/syntax.css" rel="stylesheet" >
<div  class = "container-fluid">
	<div  class = "row">
	
		<div class="col-3 position-fixed sidebar" >
			{% include aside_bar.html %}
		</div>
		
		
		<!-- Empty Space  for aside bar not to cover up-->
		<div class="col-3">  
			<!-- Empty Column -->
		</div>
		
	
		<!-- post Content -->
		<div class="col-8 content-column page-content">
			{{content}}
		</div>
	
		<!-- Empty Space -->
		<div class="col-1">  
			<!-- Empty Column -->
		</div>
	
	</div>

</div>

<div>Disqus sappose to load here</div>

