---
layout: default
---
<!--Including the syntax for the code-->
<link href="/assets/css/syntax.css" rel="stylesheet" >
		<div  class = "container-fluid">
			<div  class = "row">
			
				<div class="col-3 position-fixed sidebar" >

				<!--Aside Bar-->
				<div class ="aside-bar">
					<header >
						<div class="sidebar-header">
							<div>
								<p align="center">
									<img alt="Image not found" src ="/assets/site_images/pp.jpg"  height="100" width="100" class="rounded img-fluid">
								</p>
							</div>
							<br>
							<p class="text-justify text-center">I am machine Learning Enginner intrested in Artificial Intelligence and Data Science and Eager to learn anything</p>
							
						</div>
					</header>
					<footer>
						<div class="sidebar-footer" >
							
							<ul>
								<li>
									<a href="https://github.com/phanimadhusudhanthontepu">
										GitHub
									</a>
								</li>
								
								<li>
									<a href="https://github.com/phanimadhusudhanthontepu">
										Linked In 
									</a>
								</li>
								<li>
									<a href="https://github.com/phanimadhusudhanthontepu">
										Mail
									</a>
								</li>
							</ul>
							<div class="copyright">
								<p>2018 © Madhusudhan</p>
							</div>
						</div>
					</footer>
				</div>
				
				</div>
				
				
				<!-- Empty Space -->
				<div class="col-3">  
					<!-- Empty Column -->
				</div>
				
			
				<!-- post Content -->
				<div class="col-8 content-column">
					{{content}}
				</div>
			
				<!-- Empty Space -->
				<div class="col-1">  
					<!-- Empty Column -->
				</div>
			
			</div>
		
		</div>
		
